[submodule "reference/angr"]
	path = reference/angr
	url = https://github.com/angr/angr.git
[submodule "reference/claripy"]
	path = reference/claripy
	url = https://github.com/angr/claripy.git
[submodule "reference/LIEF"]
	path = reference/LIEF
	url = https://github.com/lief-project/LIEF.git
[submodule "reference/cle"]
	path = reference/cle
	url = https://github.com/angr/cle.git
[submodule "reference/binary-inspector"]
	path = reference/binary-inspector
	url = https://github.com/aboutcode-org/binary-inspector.git
[submodule "reference/ghidra"]
	path = reference/ghidra
	url = https://github.com/NationalSecurityAgency/ghidra.git
[submodule "reference/symbolic"]
	path = reference/symbolic
	url = https://github.com/getsentry/symbolic.git
[submodule "reference/radare2"]
	path = reference/radare2
	url = https://github.com/radareorg/radare2.git
[submodule "reference/rizin"]
	path = reference/rizin
	url = https://github.com/rizinorg/rizin.git
[submodule "reference/unicorn"]
	path = reference/unicorn
	url = https://github.com/unicorn-engine/unicorn.git
[submodule "reference/Detect-It-Easy"]
	path = reference/Detect-It-Easy
	url = https://github.com/horsicq/Detect-It-Easy.git
[submodule "reference/capa"]
	path = reference/capa
	url = https://github.com/mandiant/capa.git
[submodule "reference/Triton"]
	path = reference/Triton
	url = https://github.com/JonathanSalwan/Triton.git
[submodule "reference/manticore"]
	path = reference/manticore
	url = https://github.com/trailofbits/manticore.git
[submodule "reference/HyperDbg"]
	path = reference/HyperDbg
	url = https://github.com/HyperDbg/HyperDbg.git
[submodule "reference/REDasm"]
	path = reference/REDasm
	url = https://github.com/REDasmOrg/REDasm.git
[submodule "reference/pharos"]
	path = reference/pharos
	url = https://github.com/cmu-sei/pharos.git
[submodule "reference/pwndbg"]
	path = reference/pwndbg
	url = https://github.com/pwndbg/pwndbg.git
[submodule "reference/capstone"]
	path = reference/capstone
	url = https://github.com/capstone-engine/capstone.git
[submodule "reference/z3"]
	path = reference/z3
	url = https://github.com/Z3Prover/z3.git
[submodule "reference/Cutter"]
	path = reference/Cutter
	url = https://github.com/rizinorg/cutter.git
[submodule "reference/keystone"]
	path = reference/keystone
	url = https://github.com/keystone-engine/keystone.git
[submodule "reference/goblin"]
	path = reference/goblin
	url = https://github.com/m4b/goblin.git
[submodule "reference/retdec"]
	path = reference/retdec
	url = https://github.com/avast/retdec.git
