samples/binaries/native/system/** filter=lfs diff=lfs merge=lfs -text
samples/binaries/platforms/**/*.exe filter=lfs diff=lfs merge=lfs -text
samples/binaries/platforms/**/*.dll filter=lfs diff=lfs merge=lfs -text
samples/binaries/platforms/**/*.so filter=lfs diff=lfs merge=lfs -text
samples/binaries/platforms/**/*.dylib filter=lfs diff=lfs merge=lfs -text
samples/binaries/platforms/**/*.a filter=lfs diff=lfs merge=lfs -text
samples/binaries/platforms/**/*.lib filter=lfs diff=lfs merge=lfs -text
samples/binaries/platforms/**/*.ko filter=lfs diff=lfs merge=lfs -text
samples/binaries/platforms/**/*.jar filter=lfs diff=lfs merge=lfs -text
samples/binaries/platforms/**/*.class filter=lfs diff=lfs merge=lfs -text
samples/binaries/platforms/**/*.pyc filter=lfs diff=lfs merge=lfs -text
samples/binaries/platforms/**/*.pyo filter=lfs diff=lfs merge=lfs -text
samples/binaries/platforms/**/*.luac filter=lfs diff=lfs merge=lfs -text
samples/binaries/platforms/**/go/* filter=lfs diff=lfs merge=lfs -text
samples/binaries/platforms/**/rust/* filter=lfs diff=lfs merge=lfs -text
samples/binaries/platforms/**/libraries/test_mathlib filter=lfs diff=lfs merge=lfs -text
samples/binaries/platforms/**/native/gcc/**/* filter=lfs diff=lfs merge=lfs -text
samples/binaries/platforms/**/native/clang/**/* filter=lfs diff=lfs merge=lfs -text
samples/binaries/platforms/**/native/asm/* filter=lfs diff=lfs merge=lfs -text
samples/binaries/platforms/**/cross/**/* filter=lfs diff=lfs merge=lfs -text
samples/packed/**/*.upx9 filter=lfs diff=lfs merge=lfs -text
samples/containers/**/*.tar filter=lfs diff=lfs merge=lfs -text
samples/containers/**/*.zip filter=lfs diff=lfs merge=lfs -text
samples/containers/**/*.gz filter=lfs diff=lfs merge=lfs -text
samples/containers/**/*.bz2 filter=lfs diff=lfs merge=lfs -text
samples/containers/**/*.xz filter=lfs diff=lfs merge=lfs -text
samples/containers/**/*.zst filter=lfs diff=lfs merge=lfs -text
samples/containers/**/* filter=lfs diff=lfs merge=lfs -text
samples/binaries/kernel-modules/**/*.ko filter=lfs diff=lfs merge=lfs -text
samples/binaries/kernel-modules/**/*.ko.xz filter=lfs diff=lfs merge=lfs -text
reference/specifications/**/*.pdf filter=lfs diff=lfs merge=lfs -text
reference/specifications/**/*.xml filter=lfs diff=lfs merge=lfs -text
reference/specifications/**/*.inc filter=lfs diff=lfs merge=lfs -text
